html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#estrutura{
    width: 100%;
    height: 100%;
    border-width: 0.8em;
    border-style: solid;
    border-color: #5F0400;
    overflow: hidden;
    background-image: url(../img/bk1.jpg);
    background-position: center center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
}

.sociais{
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white;
    box-shadow: 0 1px 3px black;
}

.soicon {
    width: 3em;
    height: 2.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.soicon:hover{
    background-color: rgb(240, 239, 239);
}

.icons {
    height: 35%;
    width: auto;
    margin-top: 0.8em;
}

.icons:hover{
    height: 45%;
    width: auto;
}



.texto{
    margin-top: 15vh;
    margin-left: 10vw;
    width: auto;
    height: auto;
    font-family: 'Archivo Black', sans-serif;
    color: white;
    font-size: 2em;
        -webkit-animation: fadeIn 4s ease-in-out;
        -moz-animation: fadeIn 4s ease-in-out;
        -o-animation: fadeIn 4s ease-in-out;
        animation: fadeIn 4s ease-in-out;    
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    40% { opacity: 0; }
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100% { opacity: 1; }
    }
    

.texto1{
    text-align: right;
    float: left;
    position: fixed;
}

.linha1 {
    margin-top: 21vh;
    margin-left: 3vw;
    height: 0.16em;
    width: 8.8em;
    background-color: orange;
    position: fixed;
}

.linha2 {
    margin-top: 23vh;
    margin-left: 1vw;
    height: 0.16em;
    width: 9.8em;
    background-color: #29FF77;
    position: fixed;
}

.texto2{
    float: left;
    position: fixed;
    margin-top: 25vh;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    margin-left: 0.7em;
    line-height: 1.2;
}

.fixed-bottom {
    right: 0.8em;
    bottom: 0.8em;
    left: 0.8em;
}

nav{
    background-color: white;
    box-shadow: 0 -1px 3px black;
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.8em;
    padding-right: 2em;
}

.nav-link.disabled {
    color: rgb(124, 121, 121);
}

.nav-link{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(124, 121, 121);
    text-align: center;
}

.nav-link:hover{
    color: #29FF77;
}

.logoNavDesk{
    display: none;
}

.logoNavMob{
    height: 70px;
    width: auto;
}

.menuIcon{
    height: 25px;
    width: auto;
}

.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
}


.btn-jornada{
    background-color: #29FF77;
    color: white;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    overflow: hidden;
}

.btn-jornada:hover{
    background-color: orange;
}


@media (max-width: 992px){
    .btn-jornada{
        display: none;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        border: none;
        position: fixed;
        right: 1em;
    }

    .soicon {
        width: 3em;
        height: 2em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .icons {
        height: 40%;
        width: auto;
        margin-top: 0.5em;
    }

    .texto{
        display: none;
    }

    .texto1{
        display: none;
    }

    .texto2{
        display: none;
    }

    .linha1{
        display: none;
    }

    .linha2{
        display: none;
    }
}

@media (min-width: 992px){

.navbar-expand-lg .navbar-collapse {
    text-align: center;
    justify-content: center;
    margin-left: 4em;
}

.logoNav{
    height: 55px;
    width: auto;
}

.logoNavDesk{
    height: 50px;
    width: auto;
    display: block;
}

.logoNavMob{
    height: 40px;
    width: auto;
    display: none;
}

.navbar{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}


}



/* .nav{
    height: 7rem;
    width: 100%;
    background-color: white;
    box-shadow: 2px 1px 2px black;
    position: relative;
} */



/* .corpo{
   margin-top: 2em;
   padding-left: 2em;
   padding-right: 2em;
   font-size: 2em;
   margin-bottom: 2em;
   font-family: 'Open Sans Condensed', sans-serif;

}


.barra{
    margin-top: 3em;
    height: auto;
    margin-bottom: 3em;
    width: 3px;
    background-color: rgb(53, 52, 52);
    position: relative;
} */

/* .btn-jornada{
    margin-top: 1.5%;
    background-color: black;
    color: #29FF77;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 1px 1px 2px white;
    overflow: hidden;
} */


/* 

  

.menu{
    width: 100%;
    height: 100%;
    background-color: #00FF5F;
    display: flex;
}

.logo{
    width: 15vw;
    height: 15vh;
    background-color: white;
}

.logosup{
    width: 70%;
    height: auto;
    margin-top: 4vh;
}

.itens{
    width: 70vw;
    height: 15vh;
    background-color: white;
}

.button{
    width: 15vw;
    height: 15vh;
    background-color: white;
} 


footer{
    width: 100vw;
    height: 16.5vh;
    background-color: #5F0400;
    position: fixed;
    bottom: 0;
    display: flex;
    padding-left: 0.72em;
    padding-right: 0.72em;
    padding-bottom: 0.72em;   
}

.partiu{
    width: 100vw;
    height: 100%;
    background-color: white;
    position: relative;
}

.btn-jornada{
    margin-top: 1.5%;
    background-color: black;
    color: #29FF77;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 1px 1px 2px white;
    overflow: hidden;
} */



/* html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.estrutura{
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
}

.menu{
    display: flex;
}

.logo{
    margin-top: 3vw;
    margin-left: 2.4vw;
    width: 24vh;
    height: auto;
    float: left;
}

.btn-bora{
    float: right;
    margin-top: 3vw;
    margin-right: 2.4vw;
    background-color: black;
    color: #29FF77;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.2em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 1px 1px 2px white;
}


.corpo{
    width: 100%;
    height: auto;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2vw;
    font-family: 'ABeeZee', sans-serif;

    margin-top: 22vh;
}

.pontos{
    position: absolute;
    width: 45vh;
    bottom: 0;
    left: 0;
    z-index: 999;
}


footer{
    width: 100%;
    height: 19vh;
    background-color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
}



.jornada{
    width: 100%;
    height: 100%;
    background-color: #29FF77;
    position: fixed;
}

.btn-jornada{
    margin-top: 2em;
    background-color: black;
    color: #29FF77;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    text-shadow: 1px 1px 2px white;
} */

/* .recado{
    height: 100%;
    width: 13%;
    background-color: black;
    position: absolute;
    float: right;
    right: 0;

} */

