html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}


nav{
    background-color: white;
    box-shadow: 0 -1px 3px black;
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.8em;
    padding-right: 2em;
}

.nav-link.disabled {
    color: rgb(124, 121, 121);
}

.nav-link{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(124, 121, 121);
    text-align: center;
}

.nav-link:hover{
    color: #29FF77;
}

.logoNavDesk{
    display: none;
}

.logoNavMob{
    height: 70px;
    width: auto;
}

.menuIcon{
    height: 25px;
    width: auto;
}

.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
}


.btn-jornada{
    background-color: #29FF77;
    color: white;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    overflow: hidden;
}

.btn-jornada:hover{
    background-color: orange;
}


.basePlat{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.baseEsquerd{
    height: 100vh;
    background-color: #29FF77;
    position: fixed;
    left: 0;
}

.btn-sair{
    background-color: red;
    color: white;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    margin-top: 36vh;
    text-align: center;
    justify-content: center;
}

.imgNavEs{
    width: 60px;
    height: auto;
}

.imgNavDi{
    width: 90px;
    height: auto;
    margin-top: 1em;
    margin-bottom: 2em;
}

.navbar-nav{
    margin-top: 25vh;
}

.conteudo{
    text-align: center;
}

.baseDireit{
    height: 100vh;
    background-color: #29FF77;
    position: fixed;
    float: right;
    right: 0;
}



@media (max-width: 575px){

    .baseDireit{
        display: none;
    }

    .baseEsquerd{
        display: none;
    }

    .baseMob{
        bottom: 0;
        height: 5em;
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: black;
    }

    .baseCentro{
        width: 100vh;
    }

}    


@media (max-width: 992px){
    .btn-jornada{
        display: none;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        border: none;
        position: fixed;
        right: 1em;
    }

  


}

@media (min-width: 575px){

.navbar-expand-lg .navbar-collapse {
    text-align: center;
    justify-content: center;
    margin-left: 4em;
}

.logoNav{
    height: 55px;
    width: auto;
}

.logoNavDesk{
    height: 50px;
    width: auto;
    display: block;
}

.logoNavMob{
    height: 40px;
    width: auto;
    display: none;
}

.navbar{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}


}