html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#estrutura{
    width: 100%;
    height: 100%;
    border-width: 0.8em;
    border-style: solid;
    border-color: #5F0400;
    overflow: hidden;
    background-color: white;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
}

.sociais{
    display: flex;
    position: relative;
    list-style-type: none;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: white;
    box-shadow: 0 1px 3px black;
}

.soicon {
    width: 3em;
    height: 2.5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.soicon:hover{
    background-color: rgb(240, 239, 239);
}

.icons {
    height: 35%;
    width: auto;
    margin-top: 0.8em;
}

.icons:hover{
    height: 45%;
    width: auto;
}

.fixed-bottom {
    right: 0.8em;
    bottom: 0.8em;
    left: 0.8em;
}

nav{
    background-color: white;
    box-shadow: 0 -1px 3px black;
}

.navbar{
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0.8em;
    padding-right: 2em;
}

.nav-link.disabled {
    color: rgb(124, 121, 121);
}

.nav-link{
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(124, 121, 121);
    text-align: center;
}

.nav-link:hover{
    color: #29FF77;
}

.logoNavDesk{
    display: none;
}

.logoNavMob{
    height: 70px;
    width: auto;
}

.menuIcon{
    height: 25px;
    width: auto;
}

.navbar-toggler:not(:disabled):not(.disabled){
    border: none;
}

.btn-jornada{
    background-color: #29FF77;
    color: white;
    padding-left: 0.9em;
    padding-right: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
    border-radius: 0.7em;
    box-shadow: 1px 1px 8px black;
    font-family: 'Archivo Black', sans-serif;
    overflow: hidden;
}

.btn-jornada:hover{
    background-color: orange;
}

.baseSobre{
    width: 100%;
    height: 100%;
    display: flex;
}

.textoSobre{
    width: 50%;
    height: 100%;
    background-color: white;
    text-align: center;
}

.imagemSobre{
    width: 50%;
    height: 100%;
    background-image: url(../img/bkgp2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}


@media (max-width: 992px){
    .btn-jornada{
        display: none;
    }

    .navbar-toggler:not(:disabled):not(.disabled) {
        border: none;
        position: fixed;
        right: 1em;
    }

    .soicon {
        width: 3em;
        height: 2em;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .icons {
        height: 40%;
        width: auto;
        margin-top: 0.5em;
    }

    
}

@media (min-width: 992px){

.navbar-expand-lg .navbar-collapse {
    text-align: center;
    justify-content: center;
    margin-left: 4em;
}

.logoNav{
    height: 55px;
    width: auto;
}

.logoNavDesk{
    height: 50px;
    width: auto;
    display: block;
}

.logoNavMob{
    height: 40px;
    width: auto;
    display: none;
}

.navbar{
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}


}



